﻿@model List<xboxvotes.TheNerderyXboxService.XboxGame>

@{
    ViewBag.Title = "Home Page";
}
<div ng-controller="xboxHomeCtrl">
    <div class="jumbotron">

        <p class="lead">Most voted for game</p>
        <p>
            coming soon
        </p>
    </div>

    <div class="row">
        <div class="col-lg-8">&nbsp;</div>
        <div class="col-lg-4 panel panel-default">
            <div class="addgame ">
                <label>new game title</label>
                <input type="text" ng-model="title" />
                <button class="btn btn-danger" ng-click="SaveGame()">add</button>
            </div>
        </div>
    </div>

    <div class="row">

        <div ng-repeat="game in Games track by $index">
            <div class="well well-lg col-lg-12">
                <div class="row">
                    <div class="col-md-2 gameImage">
                        <img src="~/Content/images/xbox-logo1_2.jpg" />
                    </div>

                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-2">
                                Title:
                            </div>
                            <div class="col-sm-10">
                                {{game.Title}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2">
                                Votes:
                            </div>
                            <div class="col-sm-10">
                                {{game.Votes}}
                            </div>
                        </div>

                    </div>
                    <div class="col-md-2">

                        <button class="btn btn-danger" ng-click="Vote(game.Id)" ng-show="game.Status != 'gotit'">Vote for it!</button>


                        <div class="alert alert-success" ng-show="game.Status == 'gotit'">We have it!</div>

                    </div>
                </div>
            </div>
        </div>

        @*@foreach (var game in Model)
            {
                <div class="well well-lg col-lg-12">
                    <div class="row">
                        <div class="col-md-2 gameImage">
                            <img src="~/Content/images/xbox-logo1_2.jpg" />
                        </div>

                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-sm-2">
                                    Title:
                                </div>
                                <div class="col-sm-10">
                                    @game.Title
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    Votes:
                                </div>
                                <div class="col-sm-10">
                                    @game.Votes
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            @if (game.Status != "gotit")
                            {
                                <button class="btn btn-danger" ng-click="Vote(@game.Id)">Vote for it!</button>
                            }
                            else
                            {
                                <div class="alert alert-success">We have it!</div>
                            }
                        </div>
                    </div>
                </div>
            }*@
    </div>
</div>

@section scripts
{
    <script type="text/javascript" src="~/Scripts/app/xboxHomeCtrl.js"></script>
}